@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }

  body {
    text-rendering: optimizeLegibility;
    line-height: 1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::selection {
  background-color: rgb(255, 247, 238);
}
