@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  html {
    font-family: "Inter", "Montserrat", sans-serif;
  }

  body {
    line-height: 1;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::selection {
  background-color: rgb(255, 247, 238);
}
